{% extends 'base.html' %}
{% block title %}
Добавить сервер:
{% endblock %}

{% block content %}
<div class="col-md-6">
    <h1>Добавить сервер:</h1>
    <form action="{{ url_for('create_server') }}" method="POST">
        {% for field in form %}
        <div class="form-group">
        {{ field.label(class='control-label' ) }}
        {{ field(class='form-control', required='required') }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary"> Создать</button>
    </form>
</div>
{% endblock %}