{% extends 'base.html' %}
{% block title %}
Добавить дата центр:
{% endblock %}

{% block content %}
<div class="col-md-6">
    <h1>Добавить новый датацентр:</h1>
    <form action="{{ url_for('create_data') }}" method="POST">

        {{ form.csrf_token }}
        <div class="form-group">
            {% for error in form.name_data.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        {{ form.name_data.label(class='control-label' ) }}
        {{ form.name_data(class='form-control') }}
        </div>

        <div class="form-group">
            {% for error in form.place_conutry.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        {{ form.place_conutry.label(class='control-label' ) }}
        {{ form.place_conutry(class='form-control') }}
        </div>

        <div class="form-group">
            {% for error in form.place_city.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        {{ form.place_city.label(class='control-label' ) }}
        {{ form.place_city(class='form-control') }}
        </div>

        <div class="form-group">
            {% for error in form.slot_servers.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        {{ form.slot_servers.label(class='control-label' ) }}
        {{ form.slot_servers(class='form-control') }}
        </div>

        <div class="form-group">
            {% for error in form.data_tier.errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        {{ form.data_tier.label(class='control-label' ) }}
        {{ form.data_tier(class='form-control') }}
        </div>


        <button type="submit" class="btn btn-primary"> Создать</button>
    </form>
</div>
{% endblock %}