{% extends 'base.html' %}
{% block title %}
Дата центры.
{% endblock %}
{% block content %}

<hr>
<form method="GET">
    <div class="form-inline">
        <input type="text" class="form-control" placeholder="Поиск по имени" name="q" value="{{ request.args.get('q', '')}}">
        <button type="submit" class="btn btn-primary">Поиск</button>
    </div>
</form>
<hr>
<form method="GET">
    <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input id="radio1" name="radio" type="radio" class="custom-control-input" value="up"
                 {% if request.args.get('radio')=='up' %} checked {% endif %}>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">По возрастанию количества серверов</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radio2" name="radio" type="radio" class="custom-control-input" value="down"
          {% if request.args.get('radio')=='down' %} checked {% endif %}>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">По убыванию количества серверов</span>
        </label>

        <button type="submit" class="btn btn-primary">Сортировать</button>
    </div>
</form>
<hr>
<a class="btn btn-primary" href="{{ url_for('create_data') }}">Добавить датацентр</a>
<hr>

<h1> Список датацентров:</h1>
<table>
    <thead>
    <tr>
        <th>№</th>
        <th>имя</th>
        <th>страна</th>
        <th>город</th>
        <th>кол-во слотов</th>
        <th>уровень</th>
        <th>cервера датацентра</th>
        <th>Изменить</th>
        <th>удалить</th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
    <tr>
        <td data-label="№">{{ item.id }}</td>
        <td data-label="имя">{{ item.name_data }}</td>
        <td data-label="страна">{{ item.place_conutry }}</td>
        <td data-label="город">{{ item.place_city}}</td>
        <td data-label="кол-во слотов">{{ item.slot_servers}}</td>
        <td data-label="уровень">{{ item.data_tier }}</td>
        <td data-label="сервера датацентра"><a href="{{ url_for('servers_data', id=item.id) }}">сервера</a></td>
        <td data-label="редактировать"><a href="{{ url_for('data_edit', id=item.id) }}">изменить</a></td>
        <td data-label="удалить"><a class ='delete' href="{{ url_for('data_delete', id=item.id) }}">удалить</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}