{% extends 'base.html' %}
{% block title %}
Дата центры.
{% endblock %}
{% block content %}
<h1> Все дата центры:</h1>
<table class="table">
    <tr>
        <th>№</th>
        <th>имя</th>
        <th>страна</th>
        <th>город</th>
        <th>кол-во слотов</th>
        <th>уровень</th>
        <th>Сервера дата центра</th>
        <th>редактировать</th>
        <th>удалить</th>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name_data }}</td>
        <td>{{ item.place_conutry }}</td>
        <td>{{ item.place_city}}</td>
        <td>{{ item.slot_servers}}</td>
        <td>{{ item.data_tier }}</td>
        <td><a href="{{ url_for('servers_data', id=item.id) }}">сервера</a></td>
        <!--<td><a href="/data/{{ item.id }}/edit">редактировать</a></td>-->
        <td><a href="{{ url_for('data_edit', id=item.id) }}">редактировать</a></td>
        <td><a class ='delete' href="{{ url_for('data_delete', id=item.id) }}">удалить</a></td>
    </tr>
    {% endfor %}
</table>
<a class="btn btn-primary" href="{{ url_for('create_data') }}">Добавить дата центр</a>
{% endblock %}