{% extends 'base.html' %}
{% block content %}
<h3> Дата центры:</h3>
<table class="table">
    <tr>
        <th>№</th>
        <th>имя</th>
        <th>страна</th>
        <th>город</th>
        <th>кол-во слотов</th>
        <th>уровень</th>
        <th>Сервера</th>
        <th>редактировать</th>
        <th>удалить</th>
    </tr>
    {% for item in data %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name_data }}</td>
        <td>{{ item.place_conutry }}</td>
        <td>{{ item.place_city}}</td>
        <td>{{ item.slot_servers}}</td>
        <td>{{ item.data_tier }}</td>
        <td><a href="">сервера</a></td>
        <!--<td><a href="/data/{{ item.id }}/edit">редактировать</a></td>-->
        <td><a href="{{ url_for('data_edit', id=item.id) }}">редактировать</a></td>
        <td><a href="{{ url_for('data_delete', id=item.id) }}">удалить</a></td>
    </tr>
    {% endfor %}

</table>
{% endblock %}