{% extends 'base.html' %}
{% block title %}
Серверы.
{% endblock %}
{% block content %}
<h1> Все серверы:</h1>
<table class="table">
    <tr>
        <th>№</th>
        <th>Название сервера</th>
        <th>Производитель</th>
        <th>модель</th>
        <th>Серийный номер</th>
        <th>Операционная система</th>
        <th>№ дата центра</th>
        <th>Редактировать</th>
        <th>Удалить сервер</th>

    </tr>
    {% for item in servers %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name_server }}</td>
        <td>{{ item.manufacturer }}</td>
        <td>{{ item.model_server}}</td>
        <td>{{ item.serial_number}}</td>
        <td>{{ item.os }}</td>
        <td><a href="{{ url_for('data_edit', id=item.data_id) }}">----- {{ item.data_id }} -----</a></td>
        <td><a href="{{ url_for('server_edit', id=item.id) }}">Редактировать</a></td>
        <td><a href="{{ url_for('server_delete', id=item.id) }}">Удалить</a></td>
    </tr>
    {% endfor %}
</table>
<a class="btn btn-primary" href="{{ url_for('create_server') }}">Добавить сервер</a>
{% endblock %}