{% extends 'base.html' %}
{% block title %}
Серверы.
{% endblock %}
{% block content %}
<hr>
<form method="GET">
    <div class="form-inline">
        <input type="text" class="form-control" placeholder="Поиск по имени" name="q" value="{{ request.args.get('q', '')}}">
        <button type="submit" class="btn btn-primary">Поиск</button>
    </div>
</form>
<hr>

<form method="GET">
    <div class="custom-controls-stacked">
        <label class="custom-control custom-radio">
          <input id="radio1" name="radio" type="radio" class="custom-control-input" value="name"
                 {% if request.args.get('radio')=='name' %} checked {% endif %}>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">По имени сервера</span>
        </label>
        <label class="custom-control custom-radio">
          <input id="radio2" name="radio" type="radio" class="custom-control-input" value="manufac"
          {% if request.args.get('radio')=='manufac' %} checked {% endif %}>
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">По производителю</span>
        </label>
        <button type="submit" class="btn btn-primary">Сортировать</button>
    </div>
</form>

<hr>
<a class="btn btn-primary" href="{{ url_for('create_server') }}">Добавить сервер</a>
<hr>
<h1> Все серверы:</h1>
<table>
    <thead>
        <tr>
            <th>№</th>
            <th>Имя сервера</th>
            <th>Производитель</th>
            <th>модель</th>
            <th>Серийный номер</th>
            <th>ОС</th>
            <th>№ дц</th>
            <th>изменить</th>
            <th>Удалить сервер</th>
        </tr>
    </thead>
    <tbody>
    {% for item in servers %}
    <tr>
        <td data-label="№">{{ item.id }}</td>
        <td data-label="имя">{{ item.name_server }}</td>
        <td data-label="производитель">{{ item.manufacturer }}</td>
        <td data-label="модель">{{ item.model_server}}</td>
        <td data-label="серийный номер">{{ item.serial_number}}</td>
        <td data-label="ОС">{{ item.os }}</td>
        <td data-label="№ дц"><a href="{{ url_for('data_edit', id=item.data_id) }}">№ {{ item.data_id }}</a></td>
        <td data-label="редактировать"><a href="{{ url_for('server_edit', id=item.id) }}">Изменить</a></td>
        <td data-label="удалить"><a class='delete' href="{{ url_for('server_delete', id=item.id) }}">Удалить</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}